<div class="main-forms">
    <div class="login-form">
        <img src="../assets/img/login-icon.png" alt="" />
        <form class="loginform">
            <input type="text" name="username" class="form-control username" placeholder="نام کاربری">
            <input type="text" name="password" class="form-control password" placeholder="رمز عبور">
            <input type="email" name="email" class="form-control email" placeholder="ایمیل" required>
            <button href="#" class="btn" type="submit">ثبت نام</button>
            <a href='/auth/login'>قبلاً ثبت نام کرده ام(وارد شوید)</a>
        </form>
    </div>
</div>
