<header>
  <div class="header">
      <div class="menu">
          <div>
              <a href="#">ثبت نام کنید</a>
              <a href="#">وارد شوید</a>
          </div>
          <ul>
              <li><a href="index.html">خانه</a></li>
              <li><a href="#">تعرفه ها</a></li>
              <li><a href="#">وبلاگ</a></li>
              <li><a href="#">توسعه دهندگان</a></li>
              <li><a href="#">سؤالات متداول</a></li>
              <li><a href="AboutUs.html">درباره ما</a></li>
              <li><a href="ContactUs.html">تماس با ما</a></li>
          </ul>
      </div>
      <div class="logo">
          <a href="#"><img src="../assets/img/logo.png" alt="" /></a>
          <div>
              <span><i class="fa fa-search" aria-hidden="true"></i></span>
              <span><i class="fa fa-th-list" aria-hidden="true"></i></span>
          </div>
      </div>
  </div>
</header>
<!----end-header--------------------------------------------------------->
<!----start-main--------------------------------------------------------->
<div class="manin-content">
  <div class="slide">
      <div>
          <h1>سبک جدید پرداخت آنلاین</h1>
          <p>
              MadPay724 اولین پرداخت‌یار پیشگام در ایران است که با سبک و استاندارد جدید در پرداخت آنلاین، مناسب‌ترین سرویس پرداخت الکترونیک برای تمام کسب‌وکارهای آنلاین و آفلاین می‌باشد. ما هر روزه میلیاردها تومان پول را بدون کوچک‌ترین اشتباهی در بستر وب ایران به گردش در می‌آوریم.
          </p>
          <div>
              <a href="#">ایجاد حساب کاربری</a>
              <a href="#">آشنایی با MadPay724 </a>
          </div>
      </div>
  </div>

  <div class="register-steps">
      <h3>سرویس های پرداخت آنلاین برای کسب و کارهای بزرگ</h3>
      <div>
          <div>
              <img src="../assets/img/index-signup.png" alt="" />
              <span>ثبت نام</span>
              <p>
                  به راحتی با چند کلیک در سایت ثبت نام کنید ...
              </p>
          </div>
          <div>
              <img src="../assets/img/index-edit-profile.png" alt="" />
              <span>پروفایلت رو تکمیل کن</span>
              <p>
                  پروفایلتو تکمیل کن و عکس کارت ملیت رو بفرست
              </p>
          </div>
          <div>
              <img src="../assets/img/index-complete-signup.png" alt="" />
              <span>به همین سادگی تموم شد</span>
              <p>
                  حالا دیگه میتونی درگاه پرداخت خودتو داشته باشی
              </p>
          </div>
      </div>
  </div>

  <div class="online-pay-standard">
      <div>
          <div class="pay-standard-right-box">
              <h5>
                  استانداردهای پرداخت آنلاین
              </h5>
              <p>
                  حوزه‌ی فناوری‌های مالی یا همان فینتک مانند تمام موضوعات دیگر دارای استانداردهایی است که زرین‌پال به عنوان اولین پرداخت‌یار ایران، خودش به تنهایی استاندارد جدید در حوزه‌ی پرداخت آنلاین می‌باشد.
                  قلب تپنده‌ی هر کسب‌وکار آنلاینی جریان داشتن تراکنش‌های مالی آن کسب‌وکار در بستری ایمن هست تا ادامه حیات میسر باشد. اطمینان خاطر از امنیت در پرداخت آنلاین در کنار دیگر ویژگی‌های مهم این حوزه، مسیر هموار‌تر و مطمئن‌تری را برای هر کسب‌وکاری می‌سازد.
              </p>
          </div>
          <div class="pay-standard-left-box">
              <div class="item-one">
                  <img src="../assets/img/guarantee.png" alt="" />
                  <span>ضمانت پرداخت</span>
                  <p>
                      یکی از روش‌های موثر برای کاهش درد پرداخت، تضمین بازگشت وجه به خریدار است. ضمانت پرداخت زرین‌پال در خریدار ایجاد اطمینان می‌کند.
                  </p>
              </div>
              <div class="item-two">
                  <img src="../assets/img/routing.png" alt="" />
                  <span>مسیردهی هوشمند</span>
                  <p>
                      متریک‌های متفاوت زرین‌پال در بازه‌های زمانی مختلف باعث می‌شود کاربران به بهترین درگاه پرداخت با بالاترین میزان موفق بودن تراکنش هدایت می‌شوند.
                  </p>
              </div>
              <div class="item-three">
                  <img src="../assets/img/support.png" alt="" />
                  <span>پشتیبانی</span>
                  <p>
                      همراه طلایی بودن به واسطه‌ی پشتیبانی ۲۴ ساعته و وجود متنوع‌ترین پلاگین‌های پرداخت، می‌توانند معرف خوبی از عبارت زرین‌پال باشند.
                  </p>
              </div>
              <div class="item-four">
                  <img src="../assets/img/secutiry.png" alt="" />
                  <span>امنیت</span>
                  <p>
                      در تجارت الکترونیک استقرار امنیت حکم ستون نگه‌دارنده‌ای را دارد که اگر نباشد همه چیز فرو خواهد ریخت. زرین‌پال تکیه‌گاه محکمی است.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<!----end- main---------------------------------------------------------->



<!----start-mfooter------------------------------------------------------>
<footer>
  <div class="footer">
      <img src="../assets/img/footer-logo.png" alt="" />
      <ul>
          <li><a href="#">قوانین و مقررات</a></li>
          <li><a href="#">حریم خصوصی</a></li>
          <li><a href="#">Privacy Policy</a></li>
      </ul>
      <div>
          <a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
  </div>
</footer>

<router-outlet></router-outlet>