<div class="main-forms">
    <div class="login-form">
        <img src="../assets/img/login-icon.png" alt="" />
        <form class="loginform">
            <input type="text" name="username" class="form-control username" placeholder="نام کاربری">
            <input type="text" name="password" class="form-control password" placeholder="رمز عبور">
            <div>
                <div><input type="checkbox" id="remember" name="remember" value="remember"> مرا به خاطر بسپار</div>
                <a href="#">فراموشی رمزعبور</a>
            </div>
            <button href="#" class="btn" type="submit">ورود به پنل</button>
            <a href='/auth/register'>ثبت نام کنید</a>
        </form>
    </div>
</div>
<router-outlet></router-outlet>